<div class="table-1">
<label>Bill No.</label>
<input type="text" size="15">
<label>Bill Date</label>
<input type="Date" size="15">
<label>PO No.</label>
<input type="text" size="15">
<label>PO Date</label>
<input type="Date"size="15">
<br>
</div>
<div class="table-2">
<label>Customer Name</label>
<input type="text" size="15">
<label>Billing Address</label>
<input type="text" size="20">
<label>Mobile Number</label>
<input type="number" size="15">
<label>Vehicle No</label>
<input type="text"size="15">
</div>